



  <div class="content-wrapper">

    <div class="container">
      <div class="login-area">
        <div class="bg-image">
          <div class="login-signup">
            <div class="container">
              <div class="login-header">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= link_to root_path do %>
                      <img style="margin: 15px;" src="/assets/footer-logo.png" />
                    <% end %>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="login-details">
                      <ul class="nav nav-tabs navbar-right">
                        <!--  -->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-content">
                <div id="register" class="tab-pane fade in active">
                 <div class="login-inner">
                  <div class="title">
                    <h1>Edit <span>Profile!</span></h1>
                  </div>
                  <div class="login-form">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "edit_registration"}) do |f| %>
                    <%= devise_error_messages! %>

                    <div class="form-details">
                      <label class="user">
                        <%= f.text_field :name, placeholder: "Full Name", id: "username", required: true%>
                      </label>
                      <label class="user">
                        <%= f.number_field :phone, placeholder: "Contact Number", id: "phone", required: true%>
                      </label>
                      <label class="mail">
                        <%= f.email_field :email, autofocus: true, placeholder: "Email Address", id: "mail", email: true %>
                      </label>
                      <label class="pass">
                        <%= f.password_field :password, autocomplete: "off", placeholder: "Password (leave blank if you don't want to change it)", id: "password"%>
                      </label>
                      <label class="pass">
                        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", id: "confirm_password", equalTo: "#password", "data-msg-equalTo": "Password Confirmation Is Incorrect"%>
                      </label>
                      <label class="pass">
                        <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password", id: "current_password", required: true, "data-msg-required": "Current Password required", minlength: "6" %>
                      </label>
                    </div>
                    <%= link_to "Back", :back, class: "btn btn-default pull-left", style: "margin-left: 20px;" %>
                    <button type="submit" class="form-btn" onsubmit="">Update</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
 -->
<script>
  $(document).ready(function(){
     $("#edit_registration").validate();
  });
</script>
