

            <div class="content-wrapper" style="background: #d2d0d0;">

              <div class="container">
                <div class="login-area">
                  <div class="bg-image">
                    <div class="login-signup">
                      <div class="container">
                        <div class="login-header">
                          <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <%= link_to root_path do %>
                                <img style="margin: 15px;" src="/assets/footer-logo.png" />
                              <% end %>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="login-details">
                                <ul class="nav nav-tabs navbar-right">
                                  <li class="active"><a href="#register">Register</a></li>
                                  <li><%= link_to "Login", new_user_session_path %></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="tab-content">
                          <div id="register" class="tab-pane fade in active">
                           <div class="login-inner">
                            <div class="title">
                              <h1>Welcome <span>back!</span></h1>
                            </div>
                            <div class="login-form">
                              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "register_form"}) do |f| %>
                                <%= devise_error_messages! %>
                              <div class="form-details">
                                <label class="user">
                                  <%= f.text_field :name, placeholder: "Full Name", id: "username",required: true, minlength: "6" %>
                                </label>
                                <label class="user">
                                  <%= f.number_field :phone, placeholder: "Contact Number", id: "phone", required: true %>
                                </label>
                                <label class="mail">
                                  <%= f.email_field :email, autofocus: true, placeholder: "Email Address", id: "mail", required: true, email: true %>
                                </label>
                                <label class="pass">
                                  <%= f.password_field :password, autocomplete: "off", placeholder: "Password", id: "password", required: true%>
                                </label>
                                <label class="pass">
                                  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", id: "confirm_password", required: true, equalTo: "#password", "data-msg-equalTo": "Password Confirmation Is Incorrect"%>
                                </label>
                                <%= f.collection_select :role_id, Role.all.where.not(name: "admin"), :id, :name, {prompt: "Select Type"}, {class: "css3-metro-dropdown"} %>
                              </div>
                              <button type="submit" class="form-btn" onsubmit="">Sign Up</button>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#register_form").validate();
  });
</script>
