
<div class="content-wrapper" style="background: #d2d0d0;">

  <div class="container">
    <div class="login-area">
      <div class="bg-image">
        <div class="login-signup">
          <div class="container">
            <div class="login-header">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= link_to root_path do %>
                    <img style="margin: 15px;" src="/assets/footer-logo.png" />
                  <% end %>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="login-details">

                  </div>
                </div>
              </div>
            </div>

            <div class="tab-content">
              <div id="register" class="tab-pane fade in active">
               <div class="login-inner">
                <div class="title">
                  <h1>Forgot <span>Password?</span></h1>
                </div>
                <div class="login-form">
                  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: "password_form" }) do |f| %>
                    <%= devise_error_messages! %>

                    <div class="field">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, required: true, email: true, "data-msg-required": "Email required" %>
                    </div>

                    <div class="actions">
                      <%= f.submit "Send me reset password instructions", class: "form-btn" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#password_form").validate();
  });
</script>
