
<div class="content-wrapper-form">
  <div class="heading-div">
    <div class="container">
      <h2>Authors</h2>
      <div class="pull-left page-flow ">
        <p> Home / <%= link_to "Authors", authors_books_path %> </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="clearfix"></div>
    <ul>
    <% @authors.each do |author| %>
      <li><%= link_to "#{author.name}", author_books_books_path(user_id: author.id) %></li>
    <% end %>
  </ul>
  </div>
</div>
