<div class="content-wrapper-form">
  <div class="heading-div">
    <div class="container">
      <h2>Authors</h2>
      <div class="pull-left page-flow ">
        <p> Home / <a href="/books/author_books">Author Books</a></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="margin-top: 3em;
                  margin-bottom: 3em;">

      <div class="col-sm-3">
        <div class="cat">
          <ul class="nav nav-pills nav-stacked">
            <h3>AUTHORS</h3>
            <% @authors.each do |author| %>
              <li role="presentation" class="<%= 'active' if @author == author %>"><a href="<%=author_books_books_path(user_id: author.id)%>"><%= author.name%></a></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-sm-9">
          <% if @books.present? %>
          <div class="row" style="margin-top: 1em;">
            <% @books.each do |book| %>
              <div class="col-sm-3">
                <div class="book-box">
                  <%= link_to book_path(book) do %>
                    <%= image_tag(book.avatar.url, class: "img-responsive" ) %>
                    <div class="book-tittle">
                      <h4><%= book.name %></h4>
                      <p><%= book.author.name%></p>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>


          <div class="no-result">
            <img src="/assets/no.png"/>
            <h2>NO RESULT FOUND</h2>
          </div>


          <% end %>
        </div>
      </div>
      <% if @books.present? %>
        <div align="center">
          <%= paginate @books %>
        </div>
      <% end %>

    </div>


  </div>

</div>

</div>

