
<div class="content-wrapper-form">
  <div class="heading-div">
    <div class="container">
      <h2>Book form</h2>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3" style="margin-top:3em;">
      <%= form_for @book do |f| %>
      <% if @book.errors.any? %>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <% end %>
        <div class="form-group">
          <label>Name</label>
          <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
        </div>

        <div class="form-group">
          <label>Description</label>
          <%= f.text_area :description, class: "form-control", rows: "4", placeholder: "Description" %>
        </div>

        <div class="form-group">
          <label>Category</label>
          <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Select Category"}, { class: "form-control"} %>
        </div>

        <div class="form-group">
          <label>Book cover image</label>
          <div class="input-group image-preview">
            <input type="text" style="  " class="form-control image-preview-filename" disabled="disabled">
            <span class="input-group-btn">
              <!-- image-preview-clear button -->
              <button type="button" class="btn btn-default image-preview-clear" style="display:none; padding-top: 9px;
              padding-bottom: 9px;">
              <span class="glyphicon glyphicon-remove"></span> Clear
              </button>
            <!-- image-preview-input -->
              <div class="btn btn-default image-preview-input" style="padding-top: 9px;
                padding-bottom: 9px;
                border-radius: 0px;">
                <span class="glyphicon glyphicon-folder-open"></span>
                <span class="image-preview-input-title">Browse</span>
                <input type="file" accept="image/png, image/jpeg, image/gif" validate="true" name="book[avatar]" value="#{@book.avatar.url}"/> <!-- rename it -->
              </div>
            </span>
          </div>
        </div>

        <div class="form-group file-book">
          <%# if f.object.book_pdf %>
            <p><%#= @book.book_pdf.file.filename %></p>
          <%# end %>
          <label>Book File</label>
          <%= f.file_field :book_pdf, class: "form-control", placeholder: "Book Pdf" %>
        </div>

        <div align="center" style="margin-bottom:1em;">
          <button class="btn btn-default"> SUBMIT</button>
        </div>

      <% end %>

    </div>
  </div>
</div>


<script>
$(document).on('click', '#close-preview', function(){
  $('.image-preview').popover('hide');
  // Hover befor close the preview
  $('.image-preview').hover(
      function () {
         $('.image-preview').popover('show');
      },
       function () {
         $('.image-preview').popover('hide');
      }
  );
});

$(function() {
  // Create the close button
  var closebtn = $('<button/>', {
      type:"button",
      text: 'x',
      id: 'close-preview',
      style: 'font-size: initial;',
  });
  closebtn.attr("class","close pull-right");
  // Set the popover default content
  $('.image-preview').popover({
      trigger:'manual',
      html:true,
      title: "<strong>Preview</strong>"+$(closebtn)[0].outerHTML,
      content: "There's no image",
      placement:'bottom'
  });
  // Clear event
  $('.image-preview-clear').click(function(){
      $('.image-preview').attr("data-content","").popover('hide');
      $('.image-preview-filename').val("");
      $('.image-preview-clear').hide();
      $('.image-preview-input input:file').val("");
      $(".image-preview-input-title").text("Browse");
  });
  // Create the preview image
  $(".image-preview-input input:file").change(function (){
      var img = $('<img/>', {
          id: 'dynamic',
          width:250,
          height:200
      });
      var file = this.files[0];
      var reader = new FileReader();
      // Set preview image into the popover data-content
      reader.onload = function (e) {
          $(".image-preview-input-title").text("Change");
          $(".image-preview-clear").show();
          $(".image-preview-filename").val(file.name);
          img.attr('src', e.target.result);
          $(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
      }
      reader.readAsDataURL(file);
  });
});
</script>

