<div class="content-wrapper-form">
  <div class="heading-div">
    <div class="container">
      <h2>All Books</h2>
      <div class="pull-left page-flow ">
        <p> Home / <a href="/books">Books</a>/ </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="margin-top: 3em;
                  margin-bottom: 3em;">

      <div class="">
          <% if @books.present? %>
          <div class="row" style="margin-top: 1em;">
            <% @books.each do |book| %>
              <div class="col-sm-3">
                <div class="book-box">
                  <%= link_to book_path(book) do %>
                    <%= image_tag(book.avatar.url, class: "img-responsive" ) %>
                    <div class="book-tittle">
                        <h4><%= truncate(book.name, length: 24) %></h4>
                        <p><%= book.author.name%></p>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>


          <div class="no-result">
            <img src="/assets/no.png"/>
            <h2>NO RESULT FOUND</h2>
          </div>


          <% end %>
        </div>
      </div>
      <div align="center">
        <%= paginate @books %>
      </div>
    </div>


  </div>

</div>

</div>

