<div class="content-wrapper-form">
  <div class="heading-div">
    <div class="container">
      <h2><%=@book.name %></h2>
      <div class="pull-left page-flow ">
        <p> Home / <%= link_to "Books", books_path %> / <span><%= link_to "#{@book.name.upcase}", book_path(@book) %></span> </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="clearfix"></div>
      <div class="row" style="margin-top: 3em;
                  margin-bottom: 3em;">
        <div class="col-sm-8">
          <div class="book-view-wrapper">
            <div class="row" >
              <div class="col-sm-5">
                <!-- <img class="img-responsive book-shadow" src="/assets/list2.png" width="100%" /> -->
                <%= image_tag(@book.avatar_url, class: "img-responsive book-shadow", width: '100%')%>
              </div>

              <div class="col-sm-7">
                <div class="book-details">
                  <h3><%= @book.name %></h3>
                  <p><b>Author : <%= @book.author.name %></b></p>
                  <p><%= @book.description %>
                    <div class="clearfix"></div>
                   <!-- <a href="#">View more </a></p> -->
                   <%# binding.pry %>
                    <% if (can? :update, @book) || (current_user.user_valid?) %>
                      <%= link_to pdfjs.minimal_path(file: @book.book_pdf.url), target: :_blank do %>
                        <button class=" btn btn-default"> <i class="fa fa-book" aria-hidden="true"></i>  READ NOW  </button>
                      <% end%>
                    <% else %>
                      <%= link_to plans_path do %>
                          <button class=" btn btn-default"> <i class="fa fa-book" aria-hidden="true"></i>  Please upgrade your plan to read this book!  </button>
                      <% end%>
                    <% end %>
                    <% if can? :update, @book %>
                      <%= link_to "Edit", edit_book_path(@book), class: "btn btn-default btn-edit" %>
                    <% end %>
                    <% if (can? :verify_books, @book) && !@book.approved %>
                      <%= link_to "Approve", approve_book_book_path(@book), class: "btn btn-default btn-edit" %>
                      <%= link_to "Reject", root_path, class: "btn btn-default btn-edit" %>
                    <% end %>
                 </div>
                 <div class="clearfix"></div>
              </div>

            </div>
          </div>
          <div class="table-wrapper col-sm-12">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td><b>Book Title</b></td>
                  <td><%= @book.name %></td>

                </tr>
                <tr>
                  <td><b>Author</b></td>
                  <td><%= @book.author.name %></td>

                </tr>
                <tr>
                  <td><b>ISBN</b></td>
                  <td>00004506556057047080</td>

                </tr>

                <tr>
                  <td><b>Edition Language</b></td>
                  <td>English</td>
                </tr>
                <tr>
                  <td><b>Book Category</b></td>
                  <td><%= @book.category.name.titleize%></td>
                </tr>

                <tr>
                  <td><b>Date Published</b></td>
                  <td><%= @book.created_at.strftime('%v') %></td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>

      <div class="col-sm-4">
    </div>
  </div>
</div>

</div>
