<div class="content-wrapper-form">
  <div class="heading-div">
    <div class="container">
      <h2>Books Under Review</h2>
      <div class="pull-left page-flow ">
        <p> Home / <a href="/books/verify_books">Verify Books</a> </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="clearfix"></div>
    <h3>Unverified Books</h3>
    <div class="books">
      <div class="owl-carousel owl-theme">
        <% if @books.present? %>
          <% @books.each do |book| %>
            <div class="item">
              <div class="book-box">
                <%= link_to book_path(book) do %>
                  <%= image_tag(book.avatar.url) %>
                  <div class="book-tittle">
                    <h4><%= book.name %></h4>
                    <p><%= book.author.name.titleize%></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          Not books for review
        <% end %>
      </div>
    </div>
  </div>
</div>
