                  <!DOCTYPE html>
                  <html>

                  <head>
                    <title>Mail</title>
                    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                  </head>

                  <body>

                    <div style="
                    width: 60%;
                    margin: auto;
                    background: #268ccc;
                    padding-top: 10px;
                    font-family: roboto;
                    ">

                    <img src="http://localhost:3000/assets/footer-logo.png" width="200px" style="
                    padding-bottom: 10px;
                    padding-left: 10px;
                    ">

                    <div style="border: 1px solid #268ccc;padding: 10px;background: white;min-height: 300px;">




                      <p style="
                      margin-top: 3em;
                      ">Dear <%=@admin.name %>,</p>

                      <p style="
                      line-height: 24px;
                      ">There is a new book added by <%=@book.author.name%>. Please have a look on this by clicking below</p>


                      <div align="center">

                        <button href="#" style="
                        text-align: center;
                        margin: auto;
                        padding: 7px 25px;
                        border: 1px solid #298ccc;
                        background: #298ccc;
                        color: #fff;
                        font-size: 19px;
                        border-radius: 36px;
                        margin-top: 10px;
                        ">click here</button>

                      </div>

                    </div>

                    <div align="center" style="padding: 15px; ">

                      <i class="fa fa-facebook" style="
                      background: white;
                      border-radius: 31px;
                      width: 30px;
                      height: 30px;
                      line-height: 33px;
                      color: #268ccc;
                      margin: 5px;
                      "></i>

                      <i class="fa fa-google-plus" style="
                      background: white;
                      border-radius: 31px;
                      width: 30px;
                      height: 30px;
                      line-height: 33px;
                      color: #268ccc;
                      margin: 5px;
                      "></i>

                      <i class="fa fa-twitter" style="
                      background: white;
                      border-radius: 31px;
                      width: 30px;
                      height: 30px;
                      line-height: 33px;
                      color: #268ccc;
                      margin: 5px;
                      "></i>

                    </div>


                  </div>

                </body>
                </html>
