

<div class="content-wrapper" style="background: #d2d0d0;">

  <div class="container">
    <div class="login-area">
      <div class="bg-image">
        <div class="login-signup">
          <div class="container">
            <div class="login-header">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= link_to root_path do %>
                    <img style="margin: 15px;" src="/assets/footer-logo.png" />
                  <% end %>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="login-details">
                    <ul class="nav nav-tabs navbar-right">
                      <li><%= link_to "Register", new_user_registration_path %></li>
                      <li class="active"><a href="#login">Login</a></li>
                    </ul>
                  </div>
                </div>
              </div>


            </div>

            <div class="tab-content">
              <div id="register" class="tab-pane fade in active">
               <div class="login-inner">
                <div class="title">
                  <h1>Welcome <span>back!</span></h1>
                </div>
                <div class="login-form">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { autocomplete: "off", id: "login_form" }) do |f| %>
                  <%= devise_error_messages! %>
                    <div class="form-details">
                      <label class="user">
                        <%= f.text_field :email, autofocus: true, placeholder: "Email", id: "username",required: true,  email: true %>
                      </label>
                      <label class="pass">
                        <%= f.password_field :password, autocomplete: "off", class: "pass", placeholder: "Password", id: "password", required: true, "data-msg-required": "Password required" %>
                      </label>
                      <% if devise_mapping.rememberable? -%>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                      <% end -%>
                      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                      <% end -%>
                    </div>
                    <button type="submit" class="form-btn" >Login</button>
                  <% end %>

                  <% if devise_mapping.omniauthable? %>
                    <ul class="image-list signin-icons">
                      <%- resource_class.omniauth_providers.each do |provider| %>
                          <%= link_to "Sign In With Google", omniauth_authorize_path(resource_name, provider) %>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#login_form").validate();
  });
</script>
