                        <div class="swiper-container">
                            <div class="parallax-bg" style="background-image: url('/assets/banner-bg.png');" data-swiper-parallax="-23%"></div>
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                  <div class="row">
                                      <div align="center" class="col-sm-6 col-xs-6">
                                        <%= image_tag("/assets/book-img.png", class: "img-responsive")%>
                                    </div>
                                    <div class="col-sm-5 col-xs-12">
                                        <div class="banner-text">
                                            <h4>By: PAULO COELHO</h4>
                                            <h2>THE ALCHEMIST</h2>
                                            <p>Consectetur adipisicing elit eiusmod tempoiunt ut labore et dolore magna aliqua enim adeinim niam amaquis nostrud exercitation. tempoiunt ut labore et dolore magna aliqua enim
                                            </p>
                                            <a href="#">READMORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div align="center" class="col-sm-6 col-xs-6">
                                        <img src="/assets/book-img.png" class="img-responsive" />
                                    </div>
                                    <div class="col-sm-5 col-xs-12">
                                        <div class="banner-text">
                                            <h4>By: PAULO COELHO</h4>
                                            <h2>THE ALCHEMIST</h2>
                                            <p>Consectetur adipisicing elit eiusmod tempoiunt ut labore et dolore magna aliqua enim adeinim niam amaquis nostrud exercitation. tempoiunt ut labore et dolore magna aliqua enim
                                            </p>
                                            <a href="#">READMORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiper-pagination-white"></div>
                        <!-- Add Navigation -->
                        <div class="swiper-button-prev swiper-button-white"></div>
                        <div class="swiper-button-next swiper-button-white"></div>
                    </div>
                    <div class="offer-view">
                        <div class="container">
                            <div class="row" style="
                            ">
                            <div style="    border-right: 1px solid #a0a0a047;" class="col-md-4">
                                <div class="row" style="
                                padding-top: 1em;
                                padding-bottom: 1em;
                                ">
                                <div align="center" class="col-sm-3">
                                    <img src="/assets/free.png">
                                </div>
                                <div class="col-sm-8">
                                    <h4>Free Trail 15 Days </h4>
                                    <p>adeinim niam amaquis nostrud exercitation</p>
                                </div>
                            </div>
                        </div>
                        <div style="    border-right: 1px solid #a0a0a047;" class="col-md-4">
                            <div class="row" style="
                            padding-top: 1em;
                            padding-bottom: 1em;
                            ">
                            <div align="center" class="col-sm-3">
                                <img src="/assets/tag.png">
                            </div>
                            <div class="col-sm-8">
                                <h4>Best Offers   </h4>
                                <p>adeinim niam amaquis nostrud exercitation</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row" style="
                        padding-top: 1em;
                        padding-bottom: 1em;
                        ">
                        <div align="center" class="col-sm-3">
                            <img src="/assets/lock.png">
                        </div>
                        <div class="col-sm-8">
                            <h4>Secure Payment </h4>
                            <p>adeinim niam amaquis nostrud exercitation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="books">
        <div class="container">
            <a href="<%= books_path %>" class="view-all pull-right">View all</a>
            <h3>Current Bestsellers</h3>
            <hr>
            <div class="owl-carousel owl-theme">
                <% if @books.present? %>
                  <% @books.each do |book| %>
                    <div class="item">
                        <div class="book-box">
                            <!-- <img src="/assets/list1.png" /> -->
                            <%= link_to book_path(book) do %>
                                <%= image_tag(book.avatar.url) %>
                                <div class="book-tittle">
                                    <h4><%= truncate(book.name, length: 32) %></h4>
                                    <p><%= book.author.name %></p>
                                </div>
                            <% end %>
                        </div>
                    </div>
                  <% end %>
                <% end %>
            </div>
        </div>


        <div class="container">
            <a href="<%= books_path%>" class="view-all pull-right">View all</a>
            <h3>Top Rated Books</h3>
            <hr>
            <div class="owl-carousel owl-theme">
                <% if @books.present? %>
                <% @books.reverse.each do |book| %>
                    <div class="item">
                        <div class="book-box">
                            <%= link_to book_path(book) do %>
                                <%= image_tag(book.avatar.url) %>
                                <div class="book-tittle">
                                    <h4><%= truncate(book.name, length: 32) %></h4>
                                    <p><%= book.author.name %></p>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <% end %>
                <% end %>

            </div>
        </div>
    </div>
