

<div class="content-wrapper-form">
  <div class="container">
    <div class="pull-left page-flow ">
      <p> Home / <%= link_to "Categories", categories_path %> / <span><%= link_to "#{@category.name.titleize}", category_books_categories_path(id: @category.id) %></span> </p>
    </div>
    <div class="clearfix"></div>
    <h3>Books</h3>
    <div class="owl-carousel owl-theme">
      <% if @books.present? %>
        <% @books.each do |book| %>
          <div class="item">
            <div class="book-box">
              <%= link_to book_path(book) do %>
                <%= image_tag(book.avatar.url) %>
                <div class="book-tittle">
                  <h4><%= book.name %></h4>
                  <p><%= book.author.name %></p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        Sorry, No books available
      <% end %>
    </div>
  </div>
</div>
