<div class="content-wrapper-form">
  <div class="container">
    <div class="pull-left page-flow ">
      <p> Home / <%= link_to "Plans", plans_path %> / <span><%= link_to "#{@plan.name}", plan_path(@plan) %></span> </p>
    </div>
    <div class="clearfix"></div>
      <div class="row">
        <div class="col-sm-8">
          <div class="book-view-wrapper">
            <div class="row" >
              <div class="col-sm-5">
                <div class="book-details">
                  <h3><%= @plan.name %></h3>
                 </div>
                 <div class="clearfix"></div>
              </div>
              <% if !@plan.trial? %>
                <%= link_to "Purchase", root_path, class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
          <div class="table-wrapper col-sm-12">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td><b>Plan</b></td>
                  <td><%= @plan.name %></td>

                </tr>
                <tr>
                  <td><b>Amount</b></td>
                  <% if @plan.trial? %>
                    <td>Free</td>
                  <% else %>
                    <td><%= @plan.amount %>$</td>
                  <% end %>

                </tr>
                <tr>
                  <td><b>Validity</b></td>
                  <td><%= @plan.limit%> days</td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>

      <div class="col-sm-4">
    </div>
  </div>
</div>

</div>
