
<div class="content-wrapper-form">
  <div class="heading-div">
    <div class="container">
      <h2>All Books</h2>
      <div class="pull-left page-flow ">
        <p> Home / <%= link_to "Authors", authors_books_path %> </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="clearfix"></div>
    Thank you for paying <%= @aamount %>
  </div>
</div>
