
<div class="content-wrapper-form">
  <div class="container">
    <div class="pull-left page-flow ">
      <p> Home</span> </p>
    </div>
    <div class="clearfix"></div>
      <div class="container">

        <%= form_tag charges_path(id: 1) do %>
        <div class="row db-padding-btm db-attached">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
            <div class="db-wrapper">
              <div class="db-pricing-eleven db-bk-color-one">
                <div class="price">
                  <sup>$</sup>Free
                  <small>For 15 days</small>
                </div>
                <div class="type">
                  Trial Plan
                </div>
                <ul>

                  <li><i class="glyphicon glyphicon-print"></i>Unlimited Books </li>
                  <li><i class="glyphicon glyphicon-time"></i>15 days </li>
                  <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                </ul>
                <div class="pricing-footer">

                 <div class="free">
                  <span>Free</span>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
           <div class="db-wrapper">
            <div class="db-pricing-eleven db-bk-color-two popular">
              <div class="price">
                <sup>$</sup>10
                <small>per month</small>
              </div>
              <div class="type">
                Premium Plan
              </div>
              <ul>

                <li><i class="glyphicon glyphicon-print"></i>Unlimited Books </li>
                <li><i class="glyphicon glyphicon-time"></i>1 Month </li>
                <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
              </ul>
              <div class="pricing-footer">
                <script src="https://checkout.stripe.com/checkout.js"></script>

                <button type="submit" id="customButton">Purchase</button>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
         <div class="db-wrapper">
          <div class="db-pricing-eleven db-bk-color-three">
            <div class="price">
              <sup>$</sup>50
              <small>For 6 months</small>
            </div>
            <div class="type">
              ADVANCE PLAN
            </div>
            <ul>

              <li><i class="glyphicon glyphicon-print"></i>Unlimited Books </li>
              <li><i class="glyphicon glyphicon-time"></i>6 Months </li>
              <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
            </ul>
            <div class="pricing-footer">
              <script src="https://checkout.stripe.com/checkout.js"></script>

              <button type="submit" id="customButton1">Purchase</button>



            </div>
          </div>
        </div>
      </div>

     <% end %>
  </div>
</div>
<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_F4wzEM5E1SEVweuNXFAWktaY',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    token: function(token) {
      // You can access the token ID with `token.id`.
      // Get the token ID to your server-side code for use.
    }
  });

  document.getElementById('customButton').addEventListener('click', function(e) {
    // Open Checkout with further options:
    handler.open({
      name: 'Book Store',
      description: 'Premium Plan',
      amount: 1000,
      email: "<%=current_user.email%>"
    });
    // e.preventDefault();
  });

  document.getElementById('customButton1').addEventListener('click', function(e) {
    // Open Checkout with further options:
    handler.open({
      name: 'Book Store',
      description: 'Advanced Plan',
      amount: 5000,
      email: "<%=current_user.email%>"
    });
    // e.preventDefault();
  });

  // Close Checkout on page navigation:
  window.addEventListener('popstate', function() {
    handler.close();
  });
  </script>
