<footer>
  <div class="container">
    <div class="subscribe">
      <h4>GET SPECIAL OFFER IN YOUR INBOX  </h4>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="row">
            <div class="col-sm-8 xs-p" style="    padding: 0px;">
              <input type="text" class="form-control" placeholder="Enter your email address" />
            </div>
            <div class="col-sm-4 xs-c" style="    padding-left: 10px;">
              <button class="btn btn-subscribe"> SUBSCRIBE </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="footer-1">
          <img src="/assets/footer-logo.png" class="img-responsive" />
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
          <a href="#">Learn More About us</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-2">
          <h4> <img src="/assets/loc.png" /> OUR MAIN OFFICE</h4>
          <p>Techversant, First Floor Lulu Cyber Tower,<br>
            Infopark, Kakkanad Kochi, <br>
            Kochi, Kerala 682030
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-3">
          <h4> <img src="/assets/share.png" /> OUR MAIN OFFICE</h4>
          <p><img src="/assets/twit.png" /> Twitter </p>
          <p><img src="/assets/fb.png" /> Facebook </p>
          <p><img src='/assets/g.png' /> Google plus </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright © 2016-2017 Techversant,</p>
  </div>
</footer>
