<div class="header-top">
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <%= link_to root_path do %>
          <div class="logo">
            <img src="/assets/logo.png" class="img-responsive" />
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 hidden-xs ">
        <div class="search-box">
          <%= search_form_for @q do |f| %>
            <input type="text" name="q[name_cont]" class="form-control ss" placeholder="Search books..." />
          <% end %>
        </div>
      </div>
      <div class="col-sm-3">
        <% unless current_page?('/users/sign_in') || current_page?('/users/sign_up') %>
          <div class="login">
            <% if user_signed_in? %>
              <div class="dropdown">
                <button class="dropbtn user-btn"><%= current_user.name %>  <img src="/assets/user.png" class="img-circle img-user" width="40px" height="40px" /></button>
                <div class="dropdown-content">
                  <div class="angle-top"></div>
                  <a href="<%= edit_user_registration_path %>">My Profile</a>
                  <a href="<%=my_books_books_path%>">My Books</a>
                  <% if can? :verify_books, Book %>
                    <a href="<%= verify_books_books_path %>">Verify Books</a>
                  <% end %>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                  <button class=" btn btn-default btn-logout"> <span class="glyphicon glyphicon-log-out"></span> Log out</button>
                  <% end %>
                </div>
              </div>
            <% else %>
                <%= link_to "Login or Register", new_user_session_path, class: "btn btn-login"  %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="197" >
  <div class="container">
    <div class="navbar-header">
      <div style=" margin:5px;" class="custom-search hidden-sm hidden-md hidden-lg" id="hello">
        <input type="text" class="form-control" placeholder="search...">
      </div>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <img class="affix-logo" src="/assets/logo.png">

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-center">

        <li class=<%= current_page?(root_path) ? "active" : ""%> ><a href="<%= root_path%>">HOME </a></li>
        <!-- <li class=<%#= current_page?(categories_path) ? "active" : ""%> ><a href="<%= root_path%>">CATEGORIES</a></li> -->
        <li class=<%= current_page?(categories_path) ? "active" : ""%>><a href="<%= categories_path%>">CATEGORIES</a></li>
        <li class=<%= current_page?(author_books_books_path) ? "active" : ""%> ><a href="<%= author_books_books_path %>">AUTHORS</a></li>
        <li class=<%= current_page?(books_path) ? "active" : ""%>><a href="<%= books_path %>">BOOKS</a></li>
        <li class=<%= current_page?(plans_path) ? "active" : ""%>><a href="<%= plans_path %>">PLANS</a></li>
        <% if user_signed_in? %>
          <div class="pull-right affix-login">
            <div class="login" style="">
              <div class="dropdown">
                <button class="dropbtn user-btn"><%= current_user.name %> <img src="/assets/user.png" class="img-circle img-user" width="40px" height="40px"></button>
                <div class="dropdown-content">
                  <div class="angle-top"></div>
                    <a href="<%= edit_user_registration_path %>">My Profile</a>
                    <a href="<%=my_books_books_path%>">My Books</a>
                    <a rel="nofollow" data-method="delete" href="/users/sign_out">
                      <button class=" btn btn-default btn-logout"> <span class="glyphicon glyphicon-log-out"></span> Log out</button>
                    </a>
                  </div>
                </div>
              </div>
          </div>
        <% end %>


      </ul>
    </div>
  </div>
</nav>
